@{
    //ViewBag.Title = "MenuPrincipal";
    var data = Session["Menu"] as List<Lib_Entidad.tb_menu>;
    var trabajador = Session["Trabajador"] as Lib_Entidad.tb_trabajador;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- CSS para el menu-->
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/menu/css")
    @Styles.Render("~/datepicker/css")
    <!--JQuery-->
    @Scripts.Render("~/Jquery")
    @Scripts.Render("~/bootstrap/js")
    <!--Js para el menu-->
    @Scripts.Render("~/menu/js")
    @Scripts.Render("~/datepicker/js")
    <!--Js para validation-->
    @Scripts.Render("~/bootstrapValidator/js")


</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-capitalize" href="#">Bienvenido :@trabajador.nombres</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-capitalize"
                       data-toggle="dropdown"><img src="~/images/loginUser.png" class="img-rounded img-circle center-block" alt="Cinque Terre" width="20" height="20">@trabajador.nombres</a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="/Seguridad/Logout">
                                <i class="fa fa-fw fa-power-off"></i> Log
                                Out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                   @for (int i = 0; i < data.Count; i++)
                    { 
                        <li>
                            <a href="javascript:;" data-toggle="collapse"
                               data-target="#@data[i].idMenu"><i class="@data[i].icon_left"></i>
                                @data[i].descripcion_menu<i class="@data[i].icon_right"></i>
                            </a>
                            <!--   #session.objUsuarioMenus.listsub_enlace -->
                            <ul id="@data[i].idMenu" class="collapse">
                            @for (int e = 0; e < data[i].tb_submenu.Count; e++)
                            { 
                                <li>
                                    <a href="@data[i].tb_submenu[e].url">@data[i].tb_submenu[e].descripcion_sub_menu</a>
                                </li>
                            }
                </ul>
                </li>
                }   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
</html>
